.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.margin-auto {
  margin: 0 auto;
}

.width-60p {
  width: 60%;
}

.row {
  display: flex;
}

.column-full,
.column-half {
  width: 100%;
}

.column-75 {
  width: 75%;
}

.column-25 {
  width: 25%;
}

.height-inherit {
  height: inherit;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.width-50 {
  width: 50%;
}

.height-50 {
  height: 50%;
}

.text-align-right {
  text-align: right;
}

.justify-content-right {
  justify-content: right;
}

.height-75vh {
  height: 75vh;
}

.height-100vh {
  height: 100vh;
}

.space-evenly {
  justify-content: space-evenly;
}

.width-100p {
  width: 100%;
}

.column-15 {
  width: 15%;
}

.column-85 {
  width: 85%;
}

.margin-block-unset {
  margin-block: unset;
}

.margin-block-bottom-unset {
  margin-block-end: unset;
}

.height-85vh {
  height: 85vh;
}

.wrap {
  flex-wrap: wrap;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.display-table-cell-bottom {
  display: table-cell;
  vertical-align: bottom;
}

.text-align-left {
  text-align: left;
}

.margin-top-1-rem {
  margin-top: 1rem;
}

.margin-bottom-1-rem {
  margin-bottom: 1rem;
}

.flex-wrap-wrapped {
  flex-wrap: wrap;
}

.header-h2 {
  font-size: 14pt;
}

.what-city {
  font-size: 18pt;
}

.entry-form-submit {
  transform: scale(0.9);
  position: relative;
  top: -1rem;
}

.search-bar-holder {
  top: 10rem;
}

.cancel-box {
  width: 400px;
  height: 200px;
  top: 3rem;
}

.header {
  height: 5rem;
}

.search-anchor,
.reports-anchor {
  position: relative;
  left: 1rem;
}

.text {
  width: 100%;
  height: 8vw;
}

.search-bar {
  width: 100%;
}

.comments {
  height: 30vw;
}

.titles-80p {
  padding-top: 0.45rem;
}

.button {
  margin-top: 0.5rem;
}

.form-inputs-holder {
  padding-bottom: 0.5rem;
}

.full-weather-report {
  top: 3rem;
}

@media only screen and (max-device-width: 767px)
  and (orientation: landscape) {
  .container {
    height: unset;
  }

  .radios-and-comments {
    margin-bottom: 2rem;
  }

  .text {
    height: 6vw;
  }

  .search-bar-holder {
    top: 5rem;
  }

  .full-weather-report {
    top: 1.5rem;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .header-h2,
  .header-h4 {
    position: relative;
    left: -2.5rem;
  }

  .search-anchor,
  .reports-anchor {
    left: unset;
    right: -2.75rem;
  }

  .full-weather-report {
    align-items: unset;
    top: 7.5rem;
  }

  .entry-form-submit {
    transform: unset;
    top: 3rem;
    padding-bottom: 2rem;
  }

  .form-inputs-holder {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
  }

  .picture-and-title {
    width: 60%;
    margin: 0 auto;
  }

  .radios-and-comments {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .go-back-button {
    width: 60%;
  }

  .text {
    height: 4vw;
  }

  .comments {
    height: 15vw;
  }

  .search-bar-holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .invalid-network {
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .list-img {
    padding-bottom: 2rem;
  }

  .header-logo > h2 {
    position: relative;
    left: -4rem;
  }

  .header-logo > h4 {
    position: relative;
    left: -4rem;
  }

  .search-and-reports {
    position: relative;
    left: 4rem;
  }

  .fa-search {
    top: 1.1rem;
    left: 1rem;
  }

  .full-weather-report {
    height: 75vh;
  }

  .go-back-button {
    width: 50%;
  }

  .whole-entry-form {
    transform: scale(1);
  }

  .radios-and-comments {
    align-self: flex-end;
    position: relative;
    top: 0.3rem;
    margin-top: unset;
  }

  .save-button {
    flex-basis: 10%;
  }

  .first-city-ul {
    padding-right: 2rem;
  }

  .second-city-ul {
    padding-left: 2rem;
  }

  .placeholder-img {
    width: 50%;
    height: 200px;
  }

  .list-description {
    padding: 0;
  }

  .form-inputs-holder {
    width: 100%;
    margin: unset;
    margin-top: 3rem;
  }

  .text {
    height: 2vw;
  }

  .entry-form-submit {
    transform: none;
    margin-top: 2rem;
  }

  .form-save {
    margin: 0;
    width: 10%;
  }

  .comments {
    height: 12.25vw;
  }
}
