.header {
  background-color: #39a2db;
  width: 100%;
  color: white;
}

.header-h2 {
  margin-block-end: unset;
  font-family: 'Playfair Display', serif;
}

.header-h4 {
  margin-block-start: unset;
  font-family: 'Playfair Display', serif;
}

.search-and-reports {
  font-family: 'Montserrat', sans-serif;
  justify-content: space-evenly;
  font-weight: 100;
}

.search-and-reports > a {
  position: relative;
  left: 1rem;
  font-size: 14pt;
  cursor: pointer;
}

body {
  background-color: #e8f0f2;
}

.what-city {
  font-family: 'Playfair Display', serif;
  font-size: 21pt;
}

.search-bar {
  height: 3.5rem;
  width: 100%;
  background-color: #a2dbfa;
  border-color: transparent;
}

.fa-search {
  color: white;
  top: 1rem;
  left: 1rem;
  font-size: 15pt !important;
}

.search-input {
  background-color: inherit;
  height: 100%;
  width: 86%;
}

input[type="text"] {
  font-size: 15pt;
  font-family: 'Montserrat', sans-serif;
  padding-top: 4.5px;
  border-color: transparent;
}

.partly-cloudy-pic {
  height: 36px;
  width: 36px;
}

.report-picture {
  height: 262px;
}

.full-weather-report h2,
.full-weather-report h5 {
  font-family: 'Playfair Display', serif;
}

.full-weather-report h4,
.full-weather-report p {
  font-family: 'Montserrat', sans-serif;
}

.full-weather-report h2 {
  font-size: 25pt;
}

.full-weather-report h4 {
  font-size: 15pt;
}

.full-weather-report h5 {
  font-size: 15pt;
}

.full-weather-report p {
  font-size: 12pt;
  text-decoration: underline;
}

.top-td {
  background-color: rgb(162, 219, 250);
  height: 4rem;
}

.bottom-td {
  background-color: rgb(226, 245, 255);
  height: 4rem;
}

.full-weather-report td {
  font-family: 'Montserrat', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12pt;
}

.create-new-report {
  border-radius: 5px;
  margin-top: 1rem;
}

.create-new-report > h1 {
  font-family: 'Playfair Display', serif;
  font-size: 16pt;
}

.create-new-report > i {
  font-size: 20px;
  position: relative;
  left: 3rem;
  color: rgb(57, 162, 219);
}
